.content {
  position: fixed;
  bottom: 37px;
  left: 0;
  background-color: #f2f2f2;
  padding: 40px;
  width: 512px;
  box-shadow: 0px 0px 5px rgba(24, 0, 244, 0.805);
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #f2f2f2;
  background-color: #4285f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
