/* .dropdowns {
  position: absolute;
  top: 15%;
  left: 15;
  transform: translateX(-8.3%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;  
  }
  
  .dropdown {
    margin: 0 10px; 
  } */